body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1a27;
    color: #fff;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background-color: transparent;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    color: #3d1635;
}

ul {
    padding: 0;
    margin: 10px 0;
}

ul li{
    list-style: none;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #1c1a27;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li span {
    font-size: 14px;
    border-radius: 5px;
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-left: 5px;
    background-color: #3d1635;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li span:hover {
    background-color: #333;
}

.container {
    width: 300px;
    margin: 0;
    padding: 20px;
    /* background-color: #333; */
    background-image: radial-gradient(circle at center, #3d1635 0%, #1c1a27 100%);
    border: 1px solid #3d1635;
    box-shadow: 0 0 10px rgba(19, 16, 16, 0.3);
}

.inputBar {
    display: flex;
    border-radius: 20px;
    background-color: #1e1e1e;
}

.onTab{
    display: flex;
}

.btns {
    display: flex;
}

.btn {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3d1635;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #3d1635;
}

.btn:active {
    background-color: #3d1635;
}

.btn:focus {
    outline: 2px dashed #3d1635;
  }


.hourMin{
    display: flex;
    justify-content:start;
}

.hourMin input{
    width: 35px;
    margin: 0 3px;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
    border-radius: 5px;
    background-color: #1c1a27;

}

.textLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

#addBtn {
    margin: 0;
    border-radius: 20px;
}

#blockBtn {
    width: 100%;
}

#timeCapsule{
    display: flex;
    justify-content: start;
    align-items: center;
}

#timeLine{
    display: flex;
    padding: 10px 0px 0px 0px;
    justify-content: space-between;
    align-items: center;
}


  
  
.checkbox-wrapper-5 .check {
--size: 20px;
/* --size: 40px; */

position: relative;
background: linear-gradient(90deg, #3d1635, #1c1a27);
border-radius: 1px;
border-color: #8a2be2;
line-height: 0;
perspective: 400px;
font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
appearance: none;
display: inline-block;
border-radius: var(--size);
border: 0;
transition: .35s ease-in-out;
box-sizing: border-box;
cursor: pointer;
}

.checkbox-wrapper-5 .check label {
width: calc(2.2 * var(--size));
height: var(--size);
background: #d7d7d7;
overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
position: absolute;
z-index: 1;
width: calc(.8 * var(--size));
height: calc(.8 * var(--size));
/* top: calc(.1 * var(--size));
left: calc(.1 * var(--size)); */
top: 0;
left: 0;
background: linear-gradient(45deg, #dedede, #ffffff);
box-shadow: 0 6px 7px rgba(0,0,0,0.3);
outline: none;
margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
left: calc(0.7 * var(--size));
/* left: calc(1.3 * var(--size)); */
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
content: "· ·";
position: absolute;
overflow: hidden;
left: calc(.15 * var(--size));
top: calc(.5 * var(--size));
height: var(--size);
letter-spacing: calc(-0.04 * var(--size));
color: #9b9b9b;
font-family: "Times New Roman", serif;
z-index: 2;
font-size: calc(.6 * var(--size));
border-radius: 0;
transform-origin: 0 0 calc(-0.5 * var(--size));
backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
content: "●";
top: calc(.65 * var(--size));
left: calc(.2 * var(--size));
height: calc(.1 * var(--size));
width: calc(.35 * var(--size));
font-size: calc(.2 * var(--size));
transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
left: calc(1.55 * var(--size));
top: calc(.4 * var(--size));
line-height: calc(.1 * var(--size));
transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
height: calc(.16 * var(--size));
top: calc(.55 * var(--size));
left: calc(1.6 * var(--size));
font-size: calc(.6 * var(--size));
line-height: 0;
}