/* body {
    margin: 0;
    background-image: linear-gradient(to top, #3d1635 0%, #1c1a27 100%);
    width: 100vw;
    height:100vh;
    overflow-y: hidden;
} */

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #e3f1d1;
    text-align: center;
    letter-spacing: 2px;   
    font-size: larger;
    font-weight:bold;
}

.night {
    height: 150px;
    width: 100%;
    background: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.5); */
    overflow-x: hidden;
}

.scenery {
    height: 100px;
    width: 600%;
    background: url("../assets/scenery.png");
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    animation: moveRight 120s linear infinite;
}

.van {
    position: absolute;
    bottom: 4%;
    left: 21%;
    animation: suspension 2s linear infinite;
}

@keyframes moveRight{
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes suspension{
    0%{
        transform: translateY(1px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-1px);
    }
}